---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import Spot from "../components/Spot.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="cards">
		<Spot title="リアル脱出ゲーム(Nine rooms)" img="https://realife-blog.com/wp-content/uploads/2019/06/nine-rooms.jpg" at="3700円">
			<ul>
							<li><a href="https://realdgame.jp/9rooms/">【公式】Escape from The NINE ROOMS</a></li>
				<li>制限時間50分</li>
				<li>想定所要時間60分-120分</li>
				<li>備考：前後にご飯とか食べましょ</li>
				<li>メリット 謎解き楽しい</li>
				<li>デメリット？ 8番出口まだ解き終わってないー！</li>
			</ul>
		</Spot>
		<Spot title="映画 （チェンソーマン レゼ編？）" img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.gzn.jp%2Fimg%2F2024%2F12%2F22%2Fchainsaw-man-the-movie-reze-arc%2F00.png&f=1&ipt=e5acfd6ba46ba4a7587dd19c24cfc0c23080fd62e51488d02fe6aea43778d7ce" at="1500円">
			<ul>
				<li>上映時間 100分</li>
				<li>備考：後に何か食べながら話したいなぁ</li>
				<li>メリット アニメ楽しい、共通の話題</li>
				<li>デメリット 見てる間話せない</li>
			</ul>
		</Spot>
		<Spot title="東京タワー/スカイツリー" img="https://divnil.com/wallpaper/ipad/img/app/t/o/tokyo-tower-at-night-ipad-4-wallpaper-ilikewallpaper_com_e1c3c9157f640c68efe2122793e56a6f_raw.jpg" at="1500円 - 3400円">
			<ul>
				<li>備考: 僕が行ったことないから行ってみたい気持ち</li>
				<li>メリット: いろんなものが見えて、とても楽しい</li>
				<li>デメリット: かいちょーどっちか行ったことあるって言ってた</li>
			</ul>
		</Spot>
		<Spot title="アートアクアリウム" img="https://www.ginza.jp/wp-content/uploads/79cc1818b9dfbaad42c896ea04aa2436-1536x1022.jpg" at="2200円">
			<ul>
				<li>メリット 写真見る感じめっちゃ綺麗！！通常の水族館とは違う体験ができるかも</li>
				<li>デメリット ない？</li>
			</ul>
		</Spot>
		<Spot title="クリスマスマーケット" img="https://www.ginza.jp/wp-content/uploads/79cc1818b9dfbaad42c896ea04aa2436-1536x1022.jpg" at="1500円">
			<ul>
				<li>想定所要時間 2時間</li>
				<li>備考：神宮外苑とかと横浜赤レンガ倉庫と2つ違うのがある？</li>
				<li>メリット 季節感あって楽しい！イルミネーション綺麗らしい</li>
				<li>デメリット 営業時間的にちょっと遅めになるかも</li>
				<li>16:00 - 22:00が営業時間(早く帰ってもいい)</li>
			</ul>
		</Spot>
		<Spot title="国立科学博物館" img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fprtimes.jp%2Fi%2F47048%2F229%2Fogp%2Fd47048-229-352088-3.jpg&f=1&ipt=53cce29556b29fe534e07459a671e0605f08ff7db30b9c924fe663116a851ad1" at="0円">
			<ul>
			<li>想定所要時間 3時間？</li>
			<li>メリット 理系の大好物。科学大生なのでタダで行ける</li>
			<li>デメリット 行ったことがある場合、展示の内容への感動薄くなる可能性がある</li>

			</ul>
		<Spot title="VRゲーム(映像？)体験TYFFONIUM" img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frimage.gnst.jp%2Flivejapan.com%2Fpublic%2Farticle%2Fdetail%2Fa%2F00%2F04%2Fa0004926%2Fimg%2Fen%2Fa0004926_parts_606ad31680bdd.jpg%3F20210405175849%26q%3D80&f=1&ipt=5e2029c3ddf8384907c7794519b9db9b651a8a96aa25e355f7e43487e465da86" at="2300-3300円">
			<ul>
			<li>メリット 普段しない新しい体験</li>
			<li>デメリット 初めてだとVR酔いの可能性がある</li>

			</ul>
		</Spot>
		</Spot>
			<Spot title="ガレリアe-Sports Lounge" img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdottours.jp%2Fwp%2Fwp-content%2Fuploads%2F2021%2F04%2Fgalleria_esports_lounge-scaled-e1622446610439.jpg&f=1&ipt=60018a0c6d9ee4d47d2838e9e81362a5ef7433eb9420f1f8ad7247517fb5dc67" at="1000円?">
			<ul>
			<li>想定所要時間 3時間？</li>
			<li>メリット ゲームって楽しい、ヌルヌル動くモニターみたい</li>
			<li>デメリット 初デートで行くところか？</li>
			</ul>
		</Spot>

	</div>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
	html {
		font-family: "Zen Kurenaido";
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
	}
</style>